/*  Main section  */

.product {
    margin: 15px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    }
    
.nav {
     padding: 15px; 
     margin: 15px 45px 15px 40px; 
     width: 250px;
	 }

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical 
    }
.post {
	width: 25%;
	padding: 12px;
	}

#save {
	background-color:#6d7e8a;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#save:hover {background-color:#6dc3e0;}

#save:active {
	background-color: #6dc3e0;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}