@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*  header  */
.header {
    width: 100%;
	height: 150px;
	background-image: url("../img/sky.jpg");
	background-size: 100%;
}

.Hnavbar {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family:  Arial-Narrow;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
        box-shadow: 0 5px 10px #efefef;
        text-transform: uppercase;
    }

.nav__links {
        list-style: none;
    }

.nav__links li{
        display: inline-block;
        padding: 0px 20px;
    }
    
.nav__links li a {
        transition: all 0.3s ease 0s;
    }

.nav__links li a:hover {
        color: #0088a9;
    }

/*  Main section */
.main {
    margin: 15px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.fields {
    border: 1px solid #4d4e46; 
    padding: 15px;
    margin: 15px 45px 15px 40px;
    width: 250px;}

.addProduct {
    background-color: #6d7e8a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0px 0px 55px;
    cursor: pointer;
}

.addProduct:hover {
text-decoration: underline;
background-color: #6dc3e0 ; 
}

A {
text-decoration: none;
color: black;
}

A:hover { 
color: red;
}

.Aadd {
flex-wrap: wrap; justify-content: flex-start;
text-decoration: none;
color: black;
}

.Aadd:hover { 
color: white;
}

/*  footer  */

.wrapper{
	width: 978px;
	height: 20px;
	margin: 0 auto;
}

footer{
	width: 100%;
	height: 50px;
	background: #f8f8f8;
	border-top: 1px #e1e0e0 solid;
	margin-top: 10px;
	padding: 10px 0;
	text-align: center;
}

footer ul.social_profiles li{
	display: inline-block;
}

footer ul.social_profiles li a{
	width: 40px;
	height: 40px;
	margin-right: 16px; 
	display: inline-block;
	background: url('../img/sp.png');
}

footer ul.social_profiles li a:hover{
	background: url('../img/sp_hover.png');
}

footer ul.social_profiles .f a{
	background-position: 0 0;
}
	
footer ul.social_profiles .t a{
	background-position: -41px 0;
}
	

footer ul.social_profiles .f a:hover{
	background-position: 0 0;
}
	
footer ul.social_profiles .t a:hover{
	background-position: -41px 0;
}